APScheduler==3.7.0
asgiref==3.3.4
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
Django==3.2.1
django-apscheduler==0.5.2
future==0.18.2
gevent==21.1.2
greenlet==1.0.0
idna==2.10
numpy==1.20.2
pandas==1.2.4
pycparser==2.20
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
stocknotebridge==1.0.1
tabulate==0.8.9
tzlocal==2.1
urllib3==1.26.4
websocket==0.2.1
websocket-client==0.59.0
zope.event==4.5.0
zope.interface==5.4.0
